.logo{
    text-decoration: none;
    padding-top: 3px;
}
.logo:hover{
    text-decoration: none;
}

.topFixedBanner{
    background-image: url("../image/banner.jpg");
    min-height: 553px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.topBannerOverlay{
    position: absolute;
    min-height: 553px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.topContent{
    margin-top: 10rem;
}
.topTitle{
    font-family: 'Montserreat',sans-serif;
    font-weight: 700;
    color: white;
    font-size: 48px;
}
.topSubTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color: white;
    font-size: 22px;
}
.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 25rem;
    border: #2B2B2B;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}
.serviceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}

.serviceNameTitle{
    color: #0073e6;
    font-family: 'Montserreat', sans-serif;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.serviceName{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;

}

.serviceDescription{
    margin-top: 1rem;
    font-family: 'Montserreat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #211f1f;
}

.navTitle{
    text-decoration: none !important;
    font-family: 'Montserreat', sans-serif;
    font-size: 22px;
    color: #ffffffff !important;
    font-weight: 700;
}
.navTitleScroll{
    text-decoration: none !important;
    font-family: 'Montserreat', sans-serif;
    font-size: 22px;
    color: #0073e6 !important;
    font-weight: 700;
}
.navBackground{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition:background-color 400ms linear;
    background-color: rgba(00,00,00,0.0) !important;
}
.navBackgroundScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition:background-color 400ms linear;
    background-color: #ffffff !important;
    box-shadow: 0 0 6px 0 rgba(0,115,230,0.3);
}
.navItemColor{
    text-decoration: none !important;
    font-family:'Montserreat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.navItemColorScroll{
    text-decoration: none !important;
    font-family:'Montserreat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#2B2B2B !important;
}
.desc{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.summaryBanner{
    background-image: url("../image/banner.jpg");
    min-height: 350px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.summaryBannerOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.summary{
    margin-top: 5rem;
}
.countSection{
    margin-top: 16%;
}
.countNumber{
    color: #ffffff;
    font-family: 'Montserreat', sans-serif;
    font-size: 48px;
    font-weight: 600;
}
.countTitle{
    color: #ffffff;
    font-family:'Montserreat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.cardTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color:#2B2B2B;
}
.cardSubTitle{
    font-family:'Montserreat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#2B2B2B;
}
.workCard{
    margin-top: 15%;
    padding: 10px 10px 10px 10px;
}
.iconBullet{
    color: #0073e6;
    font-size: 16px;

}
.projectCard{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    padding: 2px 1px 2px 1px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}
.projectCard:hover{
    box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}
.projectCardTitle{
    font-family: 'Montserreat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.projectCardTitleDesc{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.courseImg{
    width: 100%;
    height: 200px;
}
.courseTitle{
    font-family: 'Montserreat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.courseDesc {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.courseDetails{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #0073e6;
}
.courseDetails:hover{
    text-decoration: none;
}
.videoCard{
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
    padding: 6rem 3rem 6rem 3rem;
    margin: 50px auto;
    background-color: #ffffff;
}
.playBtn{
    color: #0073e6;
    font-size: 48px;
    font-weight: 600;
    cursor: pointer;
}

.videoTitle{
    color: #0073e6;
    font-family: 'Montserreat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.videoDesc{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.circleImg{
    height: 100px;
    width: 100px;
    margin: 0px auto;
    border: 1px solid #0073e6;
    border-radius: 50%;
}
.clientDesc {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.clientName{
    font-family:'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.footerSection{
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
    margin-top: 6rem;
}
.socialNet{
    text-decoration: none;
    font-family: 'Montserreat', sans-serif;
    font-size: 15px;
    font-weight:600;
    color: #0073e6;
}
.socialNet:hover{
    text-decoration: none;
}
.footerLink {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2B2B2B;
}
.footerLink:hover {
    color: #0073e6;
    text-decoration: none;
}
.copyrightSection{
    padding: 25px 25px 25px 25px;
    background-color: #0073e6;
}
.copyrightLink{
    font-family: 'Montserreat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.copyrightLink:hover{
    color: #2B2B2B;
    text-decoration: none;
}


.topPageBanner{
    background-image: url("../image/banner.jpg");
    min-height: 310px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.topPageOverlay{
    position: absolute;
    min-height: 310px;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.topPageContent{
    margin-top: 8rem;
}

.PageTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color: white;
    font-size: 28px;
}
.productDetailsTitle{
    font-family: 'Montserreat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.productDetailsSubTitle{
    font-family: 'Montserreat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.courseDetailsBtn{
    font-family: 'Montserreat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #0073e6;
}
.courseDetailsBtn:hover{
    font-size: 19px;
}
.courseDetailsTitle{
    font-family: 'Montserreat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.recentProjectImg{
    height: 200px;
    width: 100%;
}