
@media (min-width: 576px) {
    .topTitle{font-size: 28px;}
    .topSubTitle{font-size: 16px;}
}


@media (min-width: 768px) {
    .topTitle{font-size: 36px;}
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}